# Python cache
__pycache__/
*.py[cod]
*.pyo 
*.pyc
.ipynb_checkpoints/

# Virtual Environments
venv/
env/


# ChromaDB
chroma_db/

# BM25
retrieval/bm25_index.pkl

# Environment variables
.env
!.env.example

# VS Code
.vscode/
.idea/

# Logs
*.log 

# OS files
.DS_Store
Thumbs.db