beautifulsoup4==4.14.3
blinker==1.9.0
Bottleneck==1.6.0
chromadb==1.5.5
docstring_parser==0.18.0
faiss-cpu==1.13.2
fastapi==0.135.1
GitPython==3.1.50
google-ai-generativelanguage==0.6.15
google-genai==2.10.0
google-generativeai==0.8.6
groq==1.5.0
h11==0.16.0
hf-xet==1.4.2
httpcore==1.0.9
httplib2==0.31.2
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.7.1
importlib_metadata==8.7.1
importlib_resources==6.5.2
instructor==1.15.4
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
langchain==1.2.12
langchain-classic==1.0.8
langchain-community==0.4.2
langchain-core==1.4.8
langchain-google-genai==4.2.7
langchain-protocol==0.0.18
langchain-text-splitters==1.1.2
nltk==3.9.3
numexpr==2.14.1
numpy==2.2.6
overrides==7.7.0
packaging==26.0
pandas==2.3.3
pillow==12.1.1
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pydeck==0.9.3
PyMuPDF==1.27.2
pyOpenSSL==26.3.0
pyparsing==3.3.2
pypdf==6.8.0
PyPika==0.51.1
python-dotenv==1.2.2
python-multipart==0.0.32
ragas==0.2.12
rank-bm25==0.2.2
requests==2.34.2
scikit-learn==1.7.2
scipy==1.15.3
sentence-transformers==5.3.0
streamlit==1.59.0
tokenizers==0.22.2
tqdm==4.67.3
uvicorn==0.41.0
